/*Components */

.clickable {
    cursor: pointer;
}

/*EOF Components */

.content {
    border: 1px solid #222;
    width: 1200px;
    margin: 0 auto;
    margin-top: 45px;
    padding: 15px;
}

@media (max-width: 1200px) 
{
    .content {
        width: 100%;
    }
}

footer .content {
    border-width: 0px;
    margin-top: 10px;
    color: gray;
}

    
.filter .item
{
    padding-top: 3px;
    padding-bottom: 3px;
    margin-right: 5px;
    margin-top: 5px;
    float: left;
}
    
.recipes-list {
    border: 1px solid #444444;
    padding: 10px;
}

.recipes-list .item {
    width: 200px;
    display: block;
    margin-right: 10px;
    float: left;
}