@using Receptar.Extensions
<style>
    .clickable {
     cursor: pointer;
    }
    
     .filter {
         height: 40px;
         padding: 10px;
         border: 1px solid #333;
         border-radius: 5px;
         margin-bottom: 15px;
     }
    
    .filter .item {
        border: 1px solid #555;
        padding: 2px;
        display: inline-block;
        margin-right: 4px;
        border-radius: 3px;
        color: #444;
    }
    
    .filter .item.filter 
    {
        background-color: #00bfff;
        color: white;
    }
    
    .recipes-list {
        border: 1px solid #444444;
        padding: 10px;
        border-radius: 6px;
    }
    
    .recipes-list .item {
        width: 200px;
        border: 1px solid #444444;
        border-radius: 6px;
        margin: 8px;
        padding: 8px;
        display: inline-block;
        min-height: 80px;
    }
    
    .recipes-list .item:hover {
        background-color: #aaa;
    }
</style>

<div ng-view></div>


@using (Html.BeginHtmlTemplate(id: "recipes-list.html"))
{
    @Html.Partial("Parts/_RecipesFilter")
    @Html.Partial("Parts/_RecipesList")
}