<div class="panel panel-primary">
    <!-- TODO: Resource -->
    <div class="panel-heading">
        <h3 class="panel-title">Najdi recept podle surovin</h3>
    </div>
    
    <div class="panel-body filter" contentEditable="true">
        <div ng-show="!vm.isLoadingIngredients">
            <div class="label label-default clickable" ng-repeat="ing in vm.ingredients" ng-bind="ing.Name" ng-click="vm.filterBy(ing)" 
                 ng-class="{'label-info' : ing.isUsed}"></div>
        </div>
        
        <div class="loading" ng-show="vm.isLoadingIngredients">Načítám ...</div>
    </div>
    
</div>